.App {
    font-family: sans-serif;
    text-align: center;
  }
  #root
{
    background-color: rgb(232, 230, 230);
}
#navimage1
{
    width: 100px;
    height: 50px;
    padding: 50px 0px 10px 0px;
}
#mainNav
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}
.fa-angle-down
{
    font-size: 12px;
    padding-left: 10px;
}
.fa-angle-right
{
    text-align: end;
}
.fa-solid
{
    color: rgb(8, 118, 24);
}
a
{
    text-decoration: none;
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media all and (min-width: 992px) 
{
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .nav-item .nav-sub-item .dropdown-sub-menu{ display: none; }
	.nav-item .nav-sub-item:hover .dropdown-sub-menu{ display: block; }
	.nav-item .nav-sub-item .dropdown-sub-menu{ margin-top:0; }
    .navbar .nav-item .dropdown-e-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-e-menu{ display: block; }
	.navbar .nav-item .dropdown-e-menu{ margin-top:0; }
    .navbar .nav-item .dropdown-s-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-s-menu{ display: block; }
	.navbar .nav-item .dropdown-s-menu{ margin-top:0; }
    .navbar .nav-item .dropdown-b-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-b-menu{ display: block; }
	.navbar .nav-item .dropdown-b-menu{ margin-top:0; }

}
.navbar-nav
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
    text-align: left;
}
.dropdown-menu
{
	list-style-type:none;
	line-height: 2;
    position: absolute;
    top: 240px;
    left: 450px;
    height: 292px;
    padding-right: 15px;
    box-shadow: 1px 1px 5px;
    z-index: 2;
    background-color: white;
}
#hr1
{
    z-index: 1;
}
.dropdown-sub-menu
{
	list-style-type:none;
	line-height: 2;
	position: absolute;
    top: -1px;
	left: 223px;
    text-align: left;
    width: 300px;
    height: 292px;
    box-shadow: 1px 1px 5px;
    background-color: white;

}
h4
{
    padding-top: 0;
    margin-top: 0;
}
.dropdown-e-menu
{
    list-style-type:none;
	line-height: 2;
    position: absolute;
    top: 240px;
    left: 210px;
    height: 292px;
    padding-right: 15px;
    box-shadow: 1px 1px 5px;
    padding-right: 7px;
    z-index: 2;
    background-color: white;
}
.dropdown-s-menu
{
    list-style-type:none;
	line-height: 2;
    position: absolute;
    top: 240px;
    right: 250px;
    height: 292px;
    padding-right: 15px;
    box-shadow: 1px 1px 5px;
    z-index: 2;
    background-color: white;
}
.dropdown-b-menu
{
    list-style-type:none;
	line-height: 2;
    position: absolute;
    top: 240px;
    right: 50px;
    height: 292px;
    padding-right: 15px;
    box-shadow: 1px 1px 5px;
    z-index: 2;
    background-color: white;
}
#navskai
{
   width: 100%;
   height: 90px;
   background-color: black;
   display: flex;
   flex-flow: row wrap;
}
#logo
{
    display: flex;
   flex-flow: row wrap;
}
#logoskai
{
    height: 50px;
    width: 50px;
    filter: brightness(180%) contrast(120%);
    position: relative;
    top: 20px;
    left: 300px;
}
#search
{
    position: relative;
    top: 30px;
    left: 380px;
    width: 220%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(232, 230, 230);
}
.fa-magnifying-glass
{
    color: rgb(163, 6, 163);
    filter: brightness(120%);
}
.fa-cart-shopping
{
    color: rgb(163, 6, 163);
    filter: brightness(150%);
}
#lan
{
    border: none;
    padding: 0;
    margin: 0;
    width: 36px;
    font-size: 12px;
    height: 20px;
    border-radius: 8px;
    color: rgb(172, 11, 172);
}
.searchicon
{
    position: absolute;
    top: 42px;
    left: 800px;
    border: none;
    background-color: rgb(232, 230, 230);
    border-radius: 20px;
}
#sub-nav
{
    display: flex;
    flex-flow: row wrap;
    height: 30px;
    width: 300px;
    position: relative;
    top: 30px;
    left: 900px;
    justify-content: space-around;
}
#bt1
{
    background-color: rgb(230, 10, 230);
    width: 60px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    color: white;
    /* font-family: 'Tangerine', cursive; */
}
#container-category
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
}
#sub-navbar-category
{
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 0;
    margin: 0;
    position: relative;
    top: -9px;
    color: rgb(237, 9, 237);
    font-family: 'Tangerine', cursive;
    font-size: 30px;
}
#each
{
    width: 300px;
    height: 370px;
    padding-top: 35px;
    /* box-shadow: 1px 1px 5px; */
    background-color: white;
}
#each:hover
{
    box-shadow: 2px 2px 20px ;
}
#cardimage
{
    width: 200px;
    height: 250px; 
    /* object-fit: cover;
    width:100%;
    height:200px;
    object-fit:cover;
    object-position:50% 50%;*/
}
#subimage
{
    border: 1px solid black;
    width: 600px;
}
#mainimage
{
    width: 500px;
    height: 500px;
    padding: 70px 0px 0px 0px;
    margin-left: 80px;
    /* position: sticky; */

}
#mainview
{
    height: 20rem;
    margin-left: 100px;
    margin-top: 50px;
    background-color: white;
}
#sub-main
{
    position: relative;
    /* top: -500px; */
    /* right: -750px; */
    width: 650px;
    color: purple;
    text-align: left;
    padding: 50px;
}
#sub-main:hover
{
    box-shadow: 10px 10px 50px;
}
.main-section
{
    display: flex;
    flex-flow: row wrap;
    gap: 150px;
}
.checked{
    color: orange;
  }

  #container
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 48vh;
    
}
#container #slider
{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 300px;
    z-index: 1;
    animation: animate 15s linear infinite;
    
}
#container #slider .slide
{
    position: relative;
    width: 20%;
    height: 300px;
    float: left;
}
#container #slider .slide.s1
{
    background: url("../Images//7bbe3621cb8c7dd5.webp");
    background-size: cover;
    background-position: center;
}
#container #slider .slide.s2
{
    background: url("../Images/7942e2ef15ebefd8.webp");
    background-size: cover;
    background-position: center;
}
#container #slider .slide.s3
{
    background: url("../Images/3f2c7724e8cc21e7.webp");
    background-size: cover;
    background-position: center;
}
#container #slider .slide.s4
{
    background: url('../Images/0126c8832f2a9a38.webp');
    background-size: cover;
    background-position: center;
}
#container #slider .slide.s5
{
    background: url('../Images/b947aa32f6262e95.webp');
    background-size: cover;
    background-position: center;
}
@keyframes animate 
{
    0%
    {
        left: 0;
    }
    20%
    {
        left: 0;
    }
    25%
    {
        left: -100%;
    }
    45%
    {
        left: -100%;
    }
    50%
    {
        left: -200%;
    }
    70%
    {
        left: -200%;
    }
    75%
    {
        left: -300%;
    }
    85%
    {
        left:-300%;
    }
    95%
    {
        left: -400%;
    }
    100%
    {
        left: -400%;
    }

    
}
#bestof1
{
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 50px;
}
.bestofimg
{
    width: 100px;
    height: 150px;
}
#best1
{
    width: 130px;
    padding-top: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
}
.py-4.container .row.justify-content-center
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.col-11.col-md-6.col-lg-3.mx-0.mb-4
{
    width: 330px;
    background-color: white;
    padding: 30px;
    margin: 40px;
}
.col-11.col-md-6.col-lg-3.mx-0.mb-4:hover
{
    box-shadow: 10px 10px 50px;
}
table.table-light.m-0
{
    margin-left: 180px;
    border-top: 5px solid rgb(68, 3, 68);
    border-bottom: 1px solid rgb(68, 3, 68);
    border-radius: 50%;
    margin-top: 100px;
}
.totalitems
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    color: rgb(85, 3, 85);  
}
.totalitemscart
{
    color: white;
    position: absolute;
    top: -23px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
}
table.table-light.m-0 .carttr
{
    margin: 20px;
    /* gap: 20px; */
}
table tr:nth-child(even){background-color: white;}
table tr:nth-child(odd){background-color: rgb(202, 10, 202);}
table, th, td {
    border: none;
    border-collapse: collapse;
  }
  .btn-success
  {
    height: 28px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgb(223, 8, 223);
    color: white;
  }
  .btnsuccess
  {
    height: 28px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgb(179, 163, 179);
    color: purple;
    margin: 18px;
    box-shadow: 1px 1px 10px;
  }
  .btn-info
  {
    border-radius: 50%;
    border: none;
    background-color: rgb(128, 50, 50);
    color: white;
    font-size: 20px;
    width: 25px;
    height: 25px;
    margin: 10px;
    box-shadow: 1px 1px 50px;
  }
  .success
  {
    position: relative;
    top: 50px;
    left: 190px;
    width: 180px;
    height: 50px;
    margin: 50px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(227, 6, 227),rgb(180, 4, 180),rgb(74, 3, 74));
    color: white;
  }
  .clrbtn
  {
    margin: 100px;
    cursor: grab;
    margin-left: 400px;
    width: 150px;
    height: 50px;
    border-radius: 18px;
    background: linear-gradient(to right, rgb(227, 6, 227),rgb(180, 4, 180),rgb(74, 3, 74));
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .ms-auto
  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    color: rgb(85, 3, 85);
  }
  .clrbtn:hover
  {
    box-shadow: 10px 10px 50px;
  }
/* .py-5.container .row.justify-content-center
{
        width: 100%;
}
.col-11.col-md-6.col-lg-3.mx-0.mb-4
{
    width: 850px;
    background-color: white;
    padding: 30px;
    margin: 40px;
}
.card-img-top.img-fluid
{
    /* width: 400px; 
} */

.formdatalogin {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginbtn:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin: 50px;
}
.signupbtn {
    width: auto;
    padding: 10px 18px;
    background-color:green;
    margin: 50px;
  }

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.login-container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  /* ------------------------------------------------------------- -----------------------*/

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .checkout-container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 30px;
  }
  
  .btn-checkout {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn-checkout:hover {
    background-color: #45a049;
  }
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }